@{
    var db = Database.Open("Ventas-2010-01-06");
   var data = db.Query("SELECT Marca, Ventas FROM Primer_Semestre");
   var myChart = new Chart(width: 600, height: 400)
       .AddTitle("Ventas")
       .DataBindTable(dataSource: data, xField: "Marca")
       .Write();
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title></title>
    </head>
    <body>
        
    </body>
</html>
